body{

    

    div.circulo a{
        background-image:url("../img/circulo.png");
    }

    div.menu-puntos a{
        background-image:("../img/titulo-klma-humans.png");
        background-size: cover;

    }

    div.menu-login a{
        background-image:url("../img/circulo.png");
        background-size: 30px 30px;

    }

    div.menu-candado a{
        background-image:url("../img/titulo-klma-humans.png");

    }

    div.titulo{
        width: 40px;
        height: 40px;
    }

    div.titulo a{
        background-image:url("../img/titulo.png");
        width: 100%;
        height: 100%;
        

    }

    




}